body {
    margin: 0;
    padding: 0;
    text-align: center;
    max-width: 960 px;
    background: url(../img/mana.jpg);
    background-size: cover;
    background-position: center;
    background-size: cover;
    color: white;

}

.title {
    margin: 200px 0 0;
    font-size: 40px;
}

.switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

.btn {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background: rgb(194, 194, 236);
    color: #FFF;
    text-align: center;
    margin: 200px 0;
}